</main>
</div>
</div>
<footer class="footer" role="contentinfo">
    <div class="row clearfix">

        <div class="site-info">
            © Sponom Person . All Rights Reserved.				</div><!-- .site-info -->

        <div class="social">
            <span><i class="dash"></i> Get in touch:</span><ul><li><a class="facebook" title="Facebook" target="_blank" href="http://example.com"><span>Facebook</span></a></li><li><a class="twitter" title="Twitter" target="_blank" href="http://example.com"><span>Twitter</span></a></li></ul>
        </div><!-- .site-info -->

    </div>
</footer>
<div class="overlay"></div>
