<header class="header">
    <div class="site-header-main row">

        <div class="logo-menu-wrapper">

            <div class="logo">
                <a href="/" class="custom-logo-link" rel="home"><img class="site-logo" src="img/logo.png" width="62" height="29" alt="Essu"></a>
            </div>

            <div id="site-header-menu" class="site-header-menu">
                <nav class="main-navigation" role="navigation" aria-label="Primary Menu">
                    <ul id="menu-main-menu" class="primary-menu"><li id="menu-item-544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-69 current_page_item menu-item-544"><a href="http://themes.easysite.by/essu-portfolio/">Home</a></li>
                        <li id="menu-item-76" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-76"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li id="menu-item-525" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-525"><a href="#">Menu Styles</a>

                                </li>
                                <li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-515"><a href="#">Grid Portfolio</a>

                                </li>
                                <li id="menu-item-520" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-520"><a href="#">Mosaic Portfolio</a>

                                </li>
                                <li id="menu-item-516" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-516"><a href="#">Masonry Portfolio</a>

                                </li>
                                <li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="http://themes.easysite.by/essu-portfolio/about-me/">About Me</a></li>
                                <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485"><a href="http://themes.easysite.by/essu-portfolio/envira-gallery/">Galleries</a></li>
                                <li id="menu-item-77" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-77"><a href="http://themes.easysite.by/essu-portfolio/404page">404 Page</a></li>
                                <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="http://themes.easysite.by/essu-portfolio/password-protected/">Password Protected</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="http://themes.easysite.by/essu-portfolio/blog/">Blog</a></li>
                        <li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414"><a href="http://themes.easysite.by/essu-portfolio/shop/">Shop</a></li>
                        <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="http://themes.easysite.by/essu-portfolio/contact/">Contact</a></li>
                    </ul>
                    <div id="close-sb-menu">
                        <span></span>
                    </div>
                </nav><!-- .main-navigation -->

            </div><!-- .site-header-menu -->

            <div class="mobile">
                <span class="ham ham-left"></span>
                <span class="ham ham-right"></span>
            </div>

        </div>
    </div><!-- .site-header-main -->
</header>