mainFont = 'Roboto', sans-serif;
secondFont = 'Roboto Slab', serif;
textColor = #000;
linksColor = #222;
headersColor = #222;
backgroundColor = #fff;

headersSize = 30px


*
  box-sizing border-box

h1, h2, h3, h4, h5, h6 {
  font-family: secondFont;
  line-height: 1;
  color: headersColor;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-top: 0;
}

h1 {
  font-size: headersSize;
}

h2 {
  font-size: headersSize - 4;
}

h3 {
  font-size: headersSize - 6;
}

h4 {
  font-size: headersSize - 8;
}

h5 {
  font-size: headersSize - 10;
}

h6 {
  font-size: headersSize - 12;
}
body
  font-family: mainFont
  margin: 0;
  font-size: 15px;
  color: #757575;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8em;
  background-color: #fff;

.row
  margin-left: auto;
  margin-right: auto;
  width: 90%;


