.title {
  display: flex
  flex-flow: row wrap
  margin-bottom: 30px;
}
@media (min-width: 700px)
  .title {
    margin-bottom: 80px;
  }
@media (min-width: 1000px)
  .title {
    margin-bottom: 100px;
  }

.title .title-wrapper {
  width: 100%;
  display: block;
  float: none;
  margin-bottom: 28px;
}
@media (min-width: 700px)
  .title .title-wrapper {
    margin-bottom: 40px;
  }
@media (min-width: 999px)
  .title .title-wrapper {
    width: 50%;
    margin-bottom: 0;
  }
.title-wrapper .entry-title {
  font-size: 34px;
  letter-spacing: -1px;
  margin: 0;
}

@media (min-width: 700px)
  .title-wrapper .entry-title {
    font-size: 44px;
  }

@media (min-width: 1000px)
  .title-wrapper .entry-title {
    font-size: 48px;
  }
.title-wrapper .entry-title span.hide-title {
  overflow: hidden;
  display: block;
  padding-bottom: 0.14em;
  margin-bottom: -0.14em;
}
.title-wrapper .entry-title span.hide-title span {
  display: inline-block;
}

.title-wrapper .entry-title span.hide-title:nth-child(1) > span {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.title .description-wrapper {
  width: 50%;
  display: block;
  padding-left: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  color: #444;
}

@media (min-width: 700px)
  .title .description-wrapper {
    font-size: 19px;
  }

@media (max-width: 999px)
  .title .description-wrapper {
         width: 100%;
         padding-left: 0;
       }