.projects-wrapper {
  width: 100%;
  position: relative;
  padding-top: 40px;
}

.p-filter {
  position: relative;
  display: block;
}

.p-filter ul {
  display: block;
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.p-filter ul li {
  display: inline-block;
  position: inherit;
  font-size: 14px;
  font-weight: 400;
  margin-right: 30px;
}

.p-filter ul li a {
  text-decoration: none;
  position: inherit;
  color: #444;
  padding: 25px 0;
  display: inline;
}

.p-filter ul li sup {
  font-size: 85%;
  left: 0.4em;
  top: -0.6em;
}