<div class="title">
    <div class="title-wrapper">
        <h1 class="entry-title">
            <span class="hide-title">
                <span>We’re Essu</span>
            </span>
            <span class="hide-title">
                <span>Creative agency</span>
            </span>
        </h1>
    </div>
    <div class="description-wrapper">
        <p>Essu is an award winning full service Los Angeles digital agency. We combine branded web development and user experience design to create memorable digital products people love</p>
    </div>
</div>